In [3]:
# Bibliotecas

import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
# Carregar a planilha e depois selecionar as colunas de interesse
df = pd.read_excel(r"C:\Users\hugob\Downloads\20251010_Relatório Geral de Estudantes - Matrículas.xlsx")

In [6]:
df

,Relatório Geral de Estudantes - Matrículas,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,Gerado em 10/10/2025 16:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
2,2025,1,202130232924,13/11/2024,JOAO GABRIEL DA SILVA ARAUJO,-,1236483,M,MARIA RENATA DA SILVA,GILMARQUES ARAUJO SILVA,...,2024-12-30,-,-,202130232924,61976060,Não,Parda,Sim,Ônibus,ESTADUAL
3,2025,1,202230683131,13/11/2024,BRUNO CORTES SANTANA,-,1382152,M,LUCIANA COSTA CORTES SANTANA,NaN,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
4,2025,1,201930003743,13/11/2024,ALISSON DE FARIAS COUTINHO,-,1055307,M,JOSEFA MARIA DE FARIAS,JOSE AELSON COUTINHO DA COSTA,...,2025-02-12,JOSENILZA LUCIA DOS REIS ALVES,1255185,-,-,Não,Parda,Não,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235546,2025,1,202530498839,10/10/2025,VITORIA RAFAELLY DE LIMA SILVA,-,1583599,M,RAFAELA SUANE DE LIMA SILVA,JOAO BATISTA GOMES DA SILVA,...,2025-10-10,-,-,-,-,Não,Parda,Sim,Ônibus,ESTADUAL
235547,2025,1,202330283867,10/10/2025,HUGO SAMUEL LIMA DA SILVA,-,1413979,M,JESSICA LIMA DA SILVA,RAFAEL DANTAS CORDEIRO,...,2025-10-10,-,-,-,-,Não,Preta,Não,-,-
235548,2025,1,202530498848,10/10/2025,MARIA CECILIA BATISTA DA SILVA,-,1583600,F,CICERA DEUZALETE MOTA DA SILVA,ADEMIR BATISTA DA TRINDADE,...,2025-10-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
235549,2025,2,202330365864,10/10/2025,VANESSA EMILY PEREIRA DE MENEZES,-,1422224,F,CRISTIANNY PEREIRA,JOAO MARIA DE MENEZES,...,2025-10-10,-,-,-,-,Sim,Parda,Sim,Ônibus,MUNICIPAL
235550,2025,1,202530498857,10/10/2025,JOAO BATISTA SOUZA DE LIMA,-,1583601,M,CASSIA TUANE REBOUCAS DE LIMA,NaN,...,2025-10-10,-,-,-,-,Não,Parda,Não,-,-

In [7]:
df = df.drop(index=0)

In [8]:
df.columns = df.iloc[0]

In [9]:
df

1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
2,2025,1,202130232924,13/11/2024,JOAO GABRIEL DA SILVA ARAUJO,-,1236483,M,MARIA RENATA DA SILVA,GILMARQUES ARAUJO SILVA,...,2024-12-30,-,-,202130232924,61976060,Não,Parda,Sim,Ônibus,ESTADUAL
3,2025,1,202230683131,13/11/2024,BRUNO CORTES SANTANA,-,1382152,M,LUCIANA COSTA CORTES SANTANA,NaN,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
4,2025,1,201930003743,13/11/2024,ALISSON DE FARIAS COUTINHO,-,1055307,M,JOSEFA MARIA DE FARIAS,JOSE AELSON COUTINHO DA COSTA,...,2025-02-12,JOSENILZA LUCIA DOS REIS ALVES,1255185,-,-,Não,Parda,Não,-,-
5,2025,1,202430157363,13/11/2024,JALLYSON MIGUEL SILVA DE OLIVEIRA,-,1478210,M,MARIANA SILVA FARIAS,JANAILSON LOPES DE OLIVEIRA,...,2025-03-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235546,2025,1,202530498839,10/10/2025,VITORIA RAFAELLY DE LIMA SILVA,-,1583599,M,RAFAELA SUANE DE LIMA SILVA,JOAO BATISTA GOMES DA SILVA,...,2025-10-10,-,-,-,-,Não,Parda,Sim,Ônibus,ESTADUAL
235547,2025,1,202330283867,10/10/2025,HUGO SAMUEL LIMA DA SILVA,-,1413979,M,JESSICA LIMA DA SILVA,RAFAEL DANTAS CORDEIRO,...,2025-10-10,-,-,-,-,Não,Preta,Não,-,-
235548,2025,1,202530498848,10/10/2025,MARIA CECILIA BATISTA DA SILVA,-,1583600,F,CICERA DEUZALETE MOTA DA SILVA,ADEMIR BATISTA DA TRINDADE,...,2025-10-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
235549,2025,2,202330365864,10/10/2025,VANESSA EMILY PEREIRA DE MENEZES,-,1422224,F,CRISTIANNY PEREIRA,JOAO MARIA DE MENEZES,...,2025-10-10,-,-,-,-,Sim,Parda,Sim,Ônibus,MUNICIPAL
235550,2025,1,202530498857,10/10/2025,JOAO BATISTA SOUZA DE LIMA,-,1583601,M,CASSIA TUANE REBOUCAS DE LIMA,NaN,...,2025-10-10,-,-,-,-,Não,Parda,Não,-,-

In [10]:
df = df[1:].reset_index(drop=True)

In [11]:
df

1,ANO,PERÍODO,MATRÍCULA,DATA DE EFETIVAÇÃO DA MATRÍCULA,NOME,NOME SOCIAL,ID_PESSOA,SEXO,NOME DA FILIAÇÃO 1,NOME DA FILIAÇÃO 2,...,DATA DA OPERAÇÃO,RESPÓNSÁVEL,MATRICULA SERVIDOR,LOGIN,ID_USUÁRIO,PARTICIPA PÉ DE MEIA,RAÇA / COR,UTILIZA TRANSPORTE ESCOLAR,TIPO DE TRANSPORTE ESCOLAR,TIPO
0,2025,1,202130232924,13/11/2024,JOAO GABRIEL DA SILVA ARAUJO,-,1236483,M,MARIA RENATA DA SILVA,GILMARQUES ARAUJO SILVA,...,2024-12-30,-,-,202130232924,61976060,Não,Parda,Sim,Ônibus,ESTADUAL
1,2025,1,202230683131,13/11/2024,BRUNO CORTES SANTANA,-,1382152,M,LUCIANA COSTA CORTES SANTANA,NaN,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
2,2025,1,201930003743,13/11/2024,ALISSON DE FARIAS COUTINHO,-,1055307,M,JOSEFA MARIA DE FARIAS,JOSE AELSON COUTINHO DA COSTA,...,2025-02-12,JOSENILZA LUCIA DOS REIS ALVES,1255185,-,-,Não,Parda,Não,-,-
3,2025,1,202430157363,13/11/2024,JALLYSON MIGUEL SILVA DE OLIVEIRA,-,1478210,M,MARIANA SILVA FARIAS,JANAILSON LOPES DE OLIVEIRA,...,2025-03-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
4,2025,1,202430266223,14/11/2024,ANA SOPHIA ABREU DA SILVA,-,1489101,F,SUELEN CRISTINA DE ABREU LORENA,JOSE PAULO DA SILVA JUNIOR,...,2025-03-10,-,-,-,-,Não,Parda,Não,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235544,2025,1,202530498839,10/10/2025,VITORIA RAFAELLY DE LIMA SILVA,-,1583599,M,RAFAELA SUANE DE LIMA SILVA,JOAO BATISTA GOMES DA SILVA,...,2025-10-10,-,-,-,-,Não,Parda,Sim,Ônibus,ESTADUAL
235545,2025,1,202330283867,10/10/2025,HUGO SAMUEL LIMA DA SILVA,-,1413979,M,JESSICA LIMA DA SILVA,RAFAEL DANTAS CORDEIRO,...,2025-10-10,-,-,-,-,Não,Preta,Não,-,-
235546,2025,1,202530498848,10/10/2025,MARIA CECILIA BATISTA DA SILVA,-,1583600,F,CICERA DEUZALETE MOTA DA SILVA,ADEMIR BATISTA DA TRINDADE,...,2025-10-10,-,-,-,-,Não,Parda,Sim,Micro-ônibus,ESTADUAL
235547,2025,2,202330365864,10/10/2025,VANESSA EMILY PEREIRA DE MENEZES,-,1422224,F,CRISTIANNY PEREIRA,JOAO MARIA DE MENEZES,...,2025-10-10,-,-,-,-,Sim,Parda,Sim,Ônibus,MUNICIPAL
235548,2025,1,202530498857,10/10/2025,JOAO BATISTA SOUZA DE LIMA,-,1583601,M,CASSIA TUANE REBOUCAS DE LIMA,NaN,...,2025-10-10,-,-,-,-,Não,Parda,Não,-,-

In [12]:
# Deixar somente as 2 colunas de interesse (CPF e DATA DE NASCIMENTO)
df = df[['CPF', 'DATA DE NASCIMENTO']]

In [13]:
df

1                  CPF   DATA DE NASCIMENTO
0       708.241.414-58  2014-02-27 00:00:00
1       073.022.765-01  2012-10-31 00:00:00
2       708.610.634-81  2012-11-01 00:00:00
3       141.327.644-00  2016-03-02 00:00:00
4       147.265.004-22  2017-08-17 00:00:00
...                ...                  ...
235544  132.482.834-08  2012-12-11 00:00:00
235545  145.382.934-23  2011-05-25 00:00:00
235546  717.790.464-64  2010-11-04 00:00:00
235547  707.242.084-37  2006-08-12 00:00:00
235548  163.826.264-06  2019-03-17 00:00:00

[235549 rows x 2 columns]

In [14]:
# Definir a data de referência (10 de outubro de 2025)
data_referencia = datetime(2025, 10, 10)

In [15]:
# Converter a coluna de data para formato datetime
df['DATA DE NASCIMENTO'] = pd.to_datetime(df['DATA DE NASCIMENTO'], format='%d/%m/%Y %H:%M')

C:\Users\hugob\AppData\Local\Temp\ipykernel_3804\199283761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DATA DE NASCIMENTO'] = pd.to_datetime(df['DATA DE NASCIMENTO'], format='%d/%m/%Y %H:%M')

In [16]:
# Calcular as idades usando a data de referência
df['IDADE'] = (data_referencia - df['DATA DE NASCIMENTO']).dt.days // 365

C:\Users\hugob\AppData\Local\Temp\ipykernel_3804\1383963767.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IDADE'] = (data_referencia - df['DATA DE NASCIMENTO']).dt.days // 365

In [17]:
df

1                  CPF DATA DE NASCIMENTO  IDADE
0       708.241.414-58         2014-02-27     11
1       073.022.765-01         2012-10-31     12
2       708.610.634-81         2012-11-01     12
3       141.327.644-00         2016-03-02      9
4       147.265.004-22         2017-08-17      8
...                ...                ...    ...
235544  132.482.834-08         2012-12-11     12
235545  145.382.934-23         2011-05-25     14
235546  717.790.464-64         2010-11-04     14
235547  707.242.084-37         2006-08-12     19
235548  163.826.264-06         2019-03-17      6

[235549 rows x 3 columns]

In [18]:
# Carregar a planilha e depois selecionar as colunas de interesse
df_notas = pd.read_parquet(r"C:\Users\hugob\Downloads\df_EF_EM_bncc.parquet")

In [19]:
df_notas

,DIREC,MUNICÍPIO,ESCOLA,INEP ESCOLA,ETAPA ENSINO,SÉRIE,COMPONENTE CURRICULAR,CPF PESSOA,NOME PESSOA,NOTA 1º BIMESTRE,NOTA 2º BIMESTRE,NOTA 3º BIMESTRE,NOTA 4º BIMESTRE,MÉDIA ANUAL,EXAME FINAL,AVALIAÇÃO ESPECIAL,MÉDIA FINAL,ETAPA_RESUMIDA,MEDIA_1_2_BIM,STATUS
2000,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.80,Aprovado
2001,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.80,Aprovado
2002,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Biologia,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,6.8,7.1,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.95,Aprovado
2003,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Educação Física,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.3,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.65,Aprovado
2004,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Educação Física,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.3,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.65,Aprovado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960921,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Língua Portuguesa,13717816489,WELLINGTON ARAUJO FELIX,4.6,4.2,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.40,Reprovado
2960922,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,3.3,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.70,Reprovado
2960923,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,3.3,NaN,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.70,Reprovado
2960928,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Química,13717816489,WELLINGTON ARAUJO FELIX,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.00,Aprovado
2960934,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Sociologia,13717816489,WELLINGTON ARAUJO FELIX,8.0,8.0,8.5,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.00,Aprovado

In [22]:
df['CPF'] = df['CPF'].astype(str).str.replace('.', '', regex=False).str.replace('-', '', regex=False)

C:\Users\hugob\AppData\Local\Temp\ipykernel_3804\1005790323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CPF'] = df['CPF'].astype(str).str.replace('.', '', regex=False).str.replace('-', '', regex=False)

1               CPF DATA DE NASCIMENTO  IDADE
0       70824141458         2014-02-27     11
1       07302276501         2012-10-31     12
2       70861063481         2012-11-01     12
3       14132764400         2016-03-02      9
4       14726500422         2017-08-17      8
...             ...                ...    ...
235544  13248283408         2012-12-11     12
235545  14538293423         2011-05-25     14
235546  71779046464         2010-11-04     14
235547  70724208437         2006-08-12     19
235548  16382626406         2019-03-17      6

[235549 rows x 3 columns]

In [24]:
# MErge para adicionar idade no dataframe df_notas

df_notas = df_notas.merge(
    df[['CPF', 'IDADE']],      # DataFrame com as colunas que você quer trazer
    how='left',                # mantém todas as linhas do df_notas
    left_on='CPF PESSOA',      # coluna de df_notas usada para combinar
    right_on='CPF'             # coluna de df usada para combinar
)

In [25]:
df_notas

,DIREC,MUNICÍPIO,ESCOLA,INEP ESCOLA,ETAPA ENSINO,SÉRIE,COMPONENTE CURRICULAR,CPF PESSOA,NOME PESSOA,NOTA 1º BIMESTRE,...,NOTA 4º BIMESTRE,MÉDIA ANUAL,EXAME FINAL,AVALIAÇÃO ESPECIAL,MÉDIA FINAL,ETAPA_RESUMIDA,MEDIA_1_2_BIM,STATUS,CPF,IDADE
0,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.80,Aprovado,70602180414,16.0
1,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Arte,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.6,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.80,Aprovado,70602180414,16.0
2,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Biologia,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,6.8,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.95,Aprovado,70602180414,16.0
3,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Educação Física,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.3,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.65,Aprovado,70602180414,16.0
4,10ª DIREC - CAICÓ,CAICO,CE JOSE AUGUSTO,24031348,CURSO TÉCNICO DE NÍVEL MÉDIO EM MANUTENÇÃO E S...,1ª SÉRIE,Educação Física,70602180414,DAVYSON EMANOEL DA SILVA SANTOS,8.3,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.65,Aprovado,70602180414,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731178,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Língua Portuguesa,13717816489,WELLINGTON ARAUJO FELIX,4.6,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.40,Reprovado,13717816489,19.0
1731179,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.70,Reprovado,13717816489,19.0
1731180,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Matemática,13717816489,WELLINGTON ARAUJO FELIX,6.1,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,4.70,Reprovado,13717816489,19.0
1731181,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Química,13717816489,WELLINGTON ARAUJO FELIX,6.0,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,6.00,Aprovado,13717816489,19.0
1731182,09ª DIREC - CURRAIS NOVOS,TENENTE LAURENTINO CRUZ,ESCOLA ESTADUAL PADRE SINVAL LAURENTINO DE MED...,24066168,ENSINO MÉDIO POTIGUAR EM TEMPO INTEGRAL,2ª SÉRIE,Sociologia,13717816489,WELLINGTON ARAUJO FELIX,8.0,...,NaN,NaN,NaN,NaN,NaN,Ensino Médio,8.00,Aprovado,13717816489,19.0

In [26]:
# Função auxiliar para pegar o valor mais frequente (modo)
def modo(serie):
    return serie.mode()[0] if not serie.mode().empty else None

# Agrupar e calcular
df_reprovacoes = (
    df_notas.groupby('CPF PESSOA', as_index=False)
    .agg({
        'STATUS': lambda x: (x == 'Reprovado').sum(),  # Conta quantos "Reprovado"
        'IDADE': modo,                                # Valor mais frequente da idade
        'SÉRIE': modo                                 # Valor mais frequente da série
    })
)

# Renomear a coluna resultante
df_reprovacoes.rename(columns={'STATUS': 'TOTAL_REPROVACOES'}, inplace=True)

In [27]:
df_reprovacoes

         CPF PESSOA  TOTAL_REPROVACOES  IDADE     SÉRIE
0                 -                 33    NaN    9º ANO
1       10000150410                 12   18.0  3ª SÉRIE
2       10000254460                  0   17.0  1ª SÉRIE
3       10000823422                  0   18.0  3ª SÉRIE
4       10000982490                  1   17.0  2ª SÉRIE
...             ...                ...    ...       ...
137169   9997488407                  1    NaN  2ª SÉRIE
137170   9998899400                  0    NaN  2ª SÉRIE
137171   9999048412                  0    NaN  3ª SÉRIE
137172    999906445                  0    NaN  3ª SÉRIE
137173   9999339492                  0    NaN  2ª SÉRIE

[137174 rows x 4 columns]

In [29]:
df_reprovacoes['SÉRIE'].unique()

array(['9º ANO', '3ª SÉRIE', '1ª SÉRIE', '2ª SÉRIE', '6º ANO', '8º ANO',
       '7º ANO'], dtype=object)

In [30]:
# Dicionário de mapeamento entre série e idade esperada
mapa_idade_esperada = {
    '6º ANO': 11,
    '7º ANO': 12,
    '8º ANO': 13,
    '9º ANO': 14,
    '1ª SÉRIE': 15,
    '2ª SÉRIE': 16,
    '3ª SÉRIE': 17
}

# Criar nova coluna com base na série
df_reprovacoes['IDADE_ESPERADA'] = df_reprovacoes['SÉRIE'].map(mapa_idade_esperada)

In [31]:
df_reprovacoes

         CPF PESSOA  TOTAL_REPROVACOES  IDADE     SÉRIE  IDADE_ESPERADA
0                 -                 33    NaN    9º ANO              14
1       10000150410                 12   18.0  3ª SÉRIE              17
2       10000254460                  0   17.0  1ª SÉRIE              15
3       10000823422                  0   18.0  3ª SÉRIE              17
4       10000982490                  1   17.0  2ª SÉRIE              16
...             ...                ...    ...       ...             ...
137169   9997488407                  1    NaN  2ª SÉRIE              16
137170   9998899400                  0    NaN  2ª SÉRIE              16
137171   9999048412                  0    NaN  3ª SÉRIE              17
137172    999906445                  0    NaN  3ª SÉRIE              17
137173   9999339492                  0    NaN  2ª SÉRIE              16

[137174 rows x 5 columns]

In [33]:
# Diferença entre Idade e Idade Esperada
df_reprovacoes['DIFERENCA'] = df_reprovacoes['IDADE'] - df_reprovacoes['IDADE_ESPERADA']

In [34]:
df_reprovacoes

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA
0,-,33,NaN,9º ANO,14,NaN
1,10000150410,12,18.0,3ª SÉRIE,17,1.0
2,10000254460,0,17.0,1ª SÉRIE,15,2.0
3,10000823422,0,18.0,3ª SÉRIE,17,1.0
4,10000982490,1,17.0,2ª SÉRIE,16,1.0
...,...,...,...,...,...,...
137169,9997488407,1,NaN,2ª SÉRIE,16,NaN
137170,9998899400,0,NaN,2ª SÉRIE,16,NaN
137171,9999048412,0,NaN,3ª SÉRIE,17,NaN
137172,999906445,0,NaN,3ª SÉRIE,17,NaN
137173,9999339492,0,NaN,2ª SÉRIE,16,NaN

In [35]:
# Coluna de identificação dos estudantes em distorção idade-série (2 ou mais anos de diferença entre idade atual e idade esperada para a série)
df_reprovacoes['DISTORCAO'] = np.where(df_reprovacoes['DIFERENCA'] >= 2, 'Sim', 'Não')

In [36]:
df_reprovacoes

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA,DISTORCAO
0,-,33,NaN,9º ANO,14,NaN,Não
1,10000150410,12,18.0,3ª SÉRIE,17,1.0,Não
2,10000254460,0,17.0,1ª SÉRIE,15,2.0,Sim
3,10000823422,0,18.0,3ª SÉRIE,17,1.0,Não
4,10000982490,1,17.0,2ª SÉRIE,16,1.0,Não
...,...,...,...,...,...,...,...
137169,9997488407,1,NaN,2ª SÉRIE,16,NaN,Não
137170,9998899400,0,NaN,2ª SÉRIE,16,NaN,Não
137171,9999048412,0,NaN,3ª SÉRIE,17,NaN,Não
137172,999906445,0,NaN,3ª SÉRIE,17,NaN,Não
137173,9999339492,0,NaN,2ª SÉRIE,16,NaN,Não

In [37]:
df_distorcao = df_reprovacoes[df_reprovacoes['DISTORCAO'] == 'Sim'].copy()

In [38]:
df_distorcao

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA,DISTORCAO
2,10000254460,0,17.0,1ª SÉRIE,15,2.0,Sim
6,10001342452,0,16.0,9º ANO,14,2.0,Sim
12,10005741483,2,20.0,2ª SÉRIE,16,4.0,Sim
14,10005942462,0,16.0,9º ANO,14,2.0,Sim
19,10007642490,3,18.0,2ª SÉRIE,16,2.0,Sim
...,...,...,...,...,...,...,...
136171,94311943253,0,21.0,1ª SÉRIE,15,6.0,Sim
136173,94336830487,1,47.0,1ª SÉRIE,15,32.0,Sim
136516,96612770449,0,57.0,3ª SÉRIE,17,40.0,Sim
136580,97025640425,2,50.0,1ª SÉRIE,15,35.0,Sim
136597,97131857491,8,52.0,3ª SÉRIE,17,35.0,Sim

In [41]:
# COluna de Etapa
# Definir as condições
condicoes = [
    df_distorcao['SÉRIE'].isin(['6º ANO', '7º ANO', '8º ANO', '9º ANO']),
    df_distorcao['SÉRIE'].isin(['1ª SÉRIE', '2ª SÉRIE', '3ª SÉRIE'])
]

# Definir os valores correspondentes
valores = [
    'Ensino Fundamental - Anos Finais',
    'Ensino Médio'
]

# Criar a nova coluna 'ETAPA'
df_distorcao['ETAPA'] = np.select(condicoes, valores, default='Outro')

In [42]:
df_distorcao

,CPF PESSOA,TOTAL_REPROVACOES,IDADE,SÉRIE,IDADE_ESPERADA,DIFERENCA,DISTORCAO,ETAPA
2,10000254460,0,17.0,1ª SÉRIE,15,2.0,Sim,Ensino Médio
6,10001342452,0,16.0,9º ANO,14,2.0,Sim,Ensino Fundamental - Anos Finais
12,10005741483,2,20.0,2ª SÉRIE,16,4.0,Sim,Ensino Médio
14,10005942462,0,16.0,9º ANO,14,2.0,Sim,Ensino Fundamental - Anos Finais
19,10007642490,3,18.0,2ª SÉRIE,16,2.0,Sim,Ensino Médio
...,...,...,...,...,...,...,...,...
136171,94311943253,0,21.0,1ª SÉRIE,15,6.0,Sim,Ensino Médio
136173,94336830487,1,47.0,1ª SÉRIE,15,32.0,Sim,Ensino Médio
136516,96612770449,0,57.0,3ª SÉRIE,17,40.0,Sim,Ensino Médio
136580,97025640425,2,50.0,1ª SÉRIE,15,35.0,Sim,Ensino Médio
136597,97131857491,8,52.0,3ª SÉRIE,17,35.0,Sim,Ensino Médio

In [43]:
# Garantir que TOTAL_REPROVACOES é numérico
df_distorcao['TOTAL_REPROVACOES'] = pd.to_numeric(df_distorcao['TOTAL_REPROVACOES'], errors='coerce')

# Calcular as quantidades em cada faixa
qtd_7_ou_mais = (df_distorcao['TOTAL_REPROVACOES'] >= 7).sum()
qtd_4_a_6 = df_distorcao['TOTAL_REPROVACOES'].between(4, 6).sum()
qtd_3_ou_menos = (df_distorcao['TOTAL_REPROVACOES'] <= 3).sum()

# Mostrar o resultado
print("Total em distorção idade-série:", len(df_distorcao))
print("7 ou mais reprovações:", qtd_7_ou_mais)
print("4, 5 ou 6 reprovações:", qtd_4_a_6)
print("3 ou menos reprovações:", qtd_3_ou_menos)

Total em distorção idade-série: 37766
7 ou mais reprovações: 10328
4, 5 ou 6 reprovações: 10042
3 ou menos reprovações: 17396

In [45]:
# Cálculo por etapa:
# Agrupar por ETAPA e calcular as quantidades em cada faixa
resultado_por_etapa = (
    df_distorcao
    .groupby('ETAPA')
    .apply(lambda g: pd.Series({
        'Total em distorção idade-série': len(g),
        '7 ou mais reprovações': (g['TOTAL_REPROVACOES'] >= 7).sum(),
        '4, 5 ou 6 reprovações': g['TOTAL_REPROVACOES'].between(4, 6).sum(),
        '3 ou menos reprovações': (g['TOTAL_REPROVACOES'] <= 3).sum()
    }))
    .reset_index()
)

In [46]:
resultado_por_etapa

,ETAPA,Total em distorção idade-série,7 ou mais reprovações,"4, 5 ou 6 reprovações",3 ou menos reprovações
0,Ensino Fundamental - Anos Finais,11539,2081,3693,5765
1,Ensino Médio,26227,8247,6349,11631